@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #180821;
}
.text-logo {
  color: #414141;
}
.bg-screen {
  background: #8609c9;
}
.logo-float {
  animation: float 4s ease-in-out infinite both;
}
@keyframes float {
  0% {
    transform: translateY(5%);
  }

  50% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(5%);
  }
}
.bg-twitter {
  color: #6366f1;
  border-color: #6366f1;
  fill: #6366f1;
}

.bg-twitter:hover {
  background: #6366f1;
}
.download-docker {
  background: #0a121b;
  color: white;
  padding: 30px;
  font-size: 18px;
  border-radius: 5px;
}

/* SCROLL BODY */
body {
  overflow: scroll;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  transition: 1s;
}
body::-webkit-scrollbar {
  width: 12px;
  background: rgb(222, 219, 219);
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #000000;
}

@media (max-width: 640px) {
  .nav-grid-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .nav-grid-column {
    grid-template-columns: 20% 20% 60%;
  }
}
